<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="MASAK KUY"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailRecipeOfMine"></activity>
        <activity android:name=".about_us2" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".Jwb7" />
        <activity android:name=".Jwb6" />
        <activity android:name=".Jwb5" />
        <activity android:name=".Jwb4" />
        <activity android:name=".Jwb3" />
        <activity android:name=".Jwb2" />
        <activity android:name=".Jwb1" />
        <activity android:name=".DetailInternasional" />
        <activity android:name=".DetailLocal" />
        <activity android:name=".Loading_PopUp" />
        <activity android:name=".helpActivity" />
        <activity android:name=".ppActivity" />
        <activity android:name=".dmActivity" />
        <activity android:name=".accountEditActivity" />
        <activity android:name=".homeFragment" />
        <activity android:name=".DetailsRecipe" />
        <activity android:name=".DisplayRecipe" />
        <activity android:name=".My_Recipee" />
        <activity android:name=".about_us" />
        <activity android:name=".Menu_login" />
        <activity android:name=".Signup" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>